%h3 Rabbits 
%a(href = "/rabbits/new")Create a new rabbit
- unless @rabbits.empty? 
  %ul#rabbits
  - @rabbbits.each do |rabbit}
   %li{:id => "rabbit-#{rabbit.id}"}
      %a(href="/rabbits/edit/#{rabbit.id}")= rabbit.name
      %a(href="/rabbits/edit/#{rabbit.id}") EDIT 
      %a(href="/rabbits/delete/#{rabbit.id}") DELETE
- else 
  %p No rabbits! 
	